<?php
// {{ ansible_managed }}
define('KB_SITE', 'EM');
define('ADMIN_PASSWORD', '{{ edk_admin_password }}');
define('DB_HOST', 'localhost');
define('DB_NAME', 'emkillboard');
define('DB_USER', 'emkillboard');
define('DB_PASS', '{{ emkillboard_password }}');
?>
