# {{ ansible_managed }}

{% for apt_uri in apt_uri_list %}
deb {{apt_uri}}debian {{ansible_lsb.codename}} main contrib non-free
deb-src {{apt_uri}}debian {{ansible_lsb.codename}} main contrib non-free
deb {{apt_uri}}debian {{ansible_lsb.codename}}-updates main contrib non-free
deb-src {{apt_uri}}debian {{ansible_lsb.codename}}-updates main contrib non-free
deb {{apt_uri}}debian-backports {{ansible_lsb.codename}}-backports main contrib non-free
deb-src {{apt_uri}}debian-backports {{ansible_lsb.codename}}-backports main contrib non-free
{% endfor %}

{% for apt_uri in apt_uri_security_list %}
deb {{apt_uri}} {{ansible_lsb.codename}}/updates main contrib non-free
{% endfor %}
